/**
 * crbs-blue
 *
 * #729fcf
 * #3465a4
 * #204a87
 */

body{ background-color: #fff;	/*#729fcf;*/ }

div#header,
div#menu ul li a:hover,
div#menu ul li a.current{
	background:#204a87; color:#fff;
}

div#header a{ color:#fff; }

div#menu ul li a,
table.list tr.heading td,
table.form tr.h td, table.checks tr.h td{
	background:#3465a4; color:#fff;
}

div#footer{ border-top:1px solid #ccc; }
