/*	
Kuler 610400

282828
305252
248C8A
EBEBBE
F2C823

Kuler 230627

Kuler 230267
CDCF92
EBEACC
D6D5B8
6D7D7F
41545E
grey borders aaaaaa
green headings 60AA37
*/

html,body{
	background:#fff;
}

/* Top header */
div#head{
	background:#41545E;
	color:#fff;
	border-bottom:2px solid #6D7D7F;
}

/* Links in the top header */
div#head a{
	color:#fff;
}
div#head a:hover, div#head a.current{
	color:#CDCF92;
}

/* sub header */
div#subhead{
	border-bottom:1px solid #aaa;	/*#6D7D7F;*/
}
div#subhead a{
	color:#41545E;
	padding:4px 5px;
}
div#subhead a:hover, div#subhead a.current{
	background:#CDCF92;
	color:#000;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
}
div#subhead a.current{
	font-weight:bold;
}

/* Main area */
div#main-body div h1, div#main-sidebar div h1, div#facebox h1, .boxy-wrapper h1{
	color:#60AA37;
}
h1.err{ color:#D893A1; }

/* Footer */
div#footer div.cell{
	border-top:1px solid #aaa;
	color:#666;
}

/* Normal links */
a{
	color:#08C;
}
a:hover{
	color:#FCA604;
}


div#qTip{
	border:0px solid #777;	/*#FFA500;	/*#006699;*/
	background:#6D7D7F;	/*#B1DE98;	/*#D86B46;*/
	color:#fff;
}



div#ajaxload{
	background-color:#fff9d7;
}



.boxy-wrapper .title-bar { background:#41545E; }


/* Messages */
/* ERROR */
div.msg.err{
	background-color:#FBE6F2;
	border-color:#D893A1;
}
/* INFORMATION */
div.msg.info{
	background-color:#E6FBF2;
	border-color:#93D8A1;
}
/* EXCLAMATION */
div.msg.warn{
	background-color:#FBE6F2;
	border-color:#D893A1;
}
/* QUESTION */
div.msg.help{
	background-color:#fff9d7;
	border-color:#e2c822;
}
div.msg.note{
	background-color:#fff9d7;
	border-color:#e2c822;
}
div.msg.yes{
	background-color:#FFF3A8;
	border-color:#e2c822;
}




/* misc divs */
.extra{ background:#D6D5B8; }




/* Bookings - room list */
div.bookings-roomlist h4{ color:#60AA37; }
.bookings-roomlist ul li:hover{
	background:#EBEACC;
}
.bookings-roomlist ul li.current{
	background:#D6D5B8;
}



/* Calendar chooser for /Bookings/Side... */
table.ccb tr.head th{
	background:#D6D5B8;
}
table.ccb tr.wr td{
	background:#EBEACC;
	color:#000;
}
table.ccb tr td{
	color:#aaa;
}
table.ccb tr td a:hover, table.ccb tr td a.current{
	background:#D6D5B8;
	color:#000 !important;
}

/* List table heading */
table.list tr.heading td{
	background:#D6D5B8;	/*#D6DFF7;*/
}


/* Can't remember what these are for. */
.bg-red{background:#FBE6F2;}
.bg-yellow{background:#fff9d7;padding:0.5em}
.bg-info{background:#E6FBF2;}