body{
	background: #E0E4ED;
}

/* Different text style for headings */
h1, h2, h3, h4, h5, h6{ font-weight:normal; font-family:Arial,sans-serif; }
h1, h2, h3{ letter-spacing:-1px; }

a{ color:#204A87; }
a:hover{ color:#A40000; }

a.ext{ background: url(../img/extlink.gif) right 50% no-repeat #fff; padding-right: 18px; }

input, select, textarea{ font: inherit; }

form{ margin: 0; padding: 0; }

div.box{ border: 1px solid #BABDB6; background: #EEEEEC; }
div.box>div{ margin: 5px; }

sup {
	vertical-align: super;
	font-size: smaller;
}


/* Full page width layer for menu background colour */
div#header{
	background: #2C4056;
	padding: 10px 0 0 0;
	border-bottom: 4px solid #507AAA;
	margin-bottom: 1em;
}
div#footer{
	padding: 1em 0;
	border-top: 2px solid #ccc;
	margin-top: 4em;
	font-size: 85%;
}


/* Top menu */
div#header ul{
	list-style: none;
	margin: 0;
	padding: 0;
}
div#header ul li{
	margin: 0 10px 0 0;
	padding: 0;
	display: block;
	float: left;
	font-weight: bold;
}
div#header ul li a{ text-decoration:none; color:#fff; display: block; padding: 5px 8px; font-weight: normal; }
div#header ul li a:hover{ color: #dfdfdf; }
div#header ul li a.current{ background: #507AAA; }

div#header-right{
	text-align: right;
}
div#header-right ul li{
	float: right;
	margin: 0 0 0 20px;
}


/* Page title beneath menu */
div#title{ border-bottom: 0px solid #ccc; margin-top: 1.5em; margin-bottom: 1em;  }
div#title h1{ margin: 0; font-size: 26px; padding: 0; }
div#title p{ margin: 0; padding: 0; }

div#main{ background: #fff; padding: 15px 0; }
div#content{ margin-left: 10px; }
div#sidebar{ margin-right: 10px; }

/* Link bar beneath title */
ul.linkbar, ul.linkbar{ list-style:none; margin:5px 0 15px 0; }
ul.linkbar li{ margin:0 20px 0 0; float:left; }
ul.linkbar li a, ul.linkbar span{ background-repeat:no-repeat; background-position:0 50%; padding:2px 2px 2px 22px; text-decoration:none; }

ul.linkbar-vertical li{ margin:0 0 10px 0; float:none; }


/* Messages */
p.error, p.success{ color:#000; padding:4px; font-weight:bold; font-size:90%; }
p.error{ background: #E67373;	/*#BF3030;*/ }
p.success{ background: #ABE673;	/*#77BF30;*/ }


/* List tables */
table.list{ width:100%; font-size:90%; }
table.list tr td, table.list tr th{ padding:6px 4px; vertical-align:middle; }
table.list tr.heading th{ text-align:left; background:#729FCF; color:#fff; }
table.list tr.heading th a{ color:#fff; }
table.list tr td{ border-bottom:1px solid #ccc; }
table.list tr td.name{ font-weight:bold; font-size:110%; }

table.list tr td ul.linkbar{ font-size:90%; }

table.list tr.filters td input, table.list tr.filters td select{ font-size: 90%; padding:0; }
table.list tr.filters td{ background: #EEEEEC; }


/* Form table */
table.form{ width: 100%; font-size: 90%; }
table.form tr td{ padding: 8px 4px; }
table.form tr td.label{ width:175px; text-align: right; vertical-align: top; }
table.form tr td.label label{ font-weight: bold; }
table.form tr td.input label.check{
	display:block;
	padding-left:15px;
	text-indent:-15px;
}
table.form tr td.field label.check input{
	border:0px solid #000 !important;
	width:13px;
	height:13px;
	padding:0;
	margin:4px;
	vertical-align:middle;
	position:relative;
	z-index:2;
	top:0px;
	*overflow: hidden;
}


div.login-form
{
	width: 400px;
	border: 1px solid #ccc;
	padding: 5px;
	background: #E0E4ED;
}


/* Form buttons */
input.btn, a.btn, button.btn{
	padding:4px 6px;
	border:none;
	text-overflow:ellipsis;
	text-decoration:none;
	white-space:nowrap;
	cursor:pointer;
	text-transform:uppercase;
	font:12px/1.5 Tahoma,Verdana,Helvetica,Arial,'Liberation Sans',FreeSans,sans-serif;
	font-weight:bold;
	color:#fff;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	margin:0 10px 0 0;
}
a.btnlink{
	padding:4px 6px;
}
a.btn{ display: inline-block; }
.btn_pos{ background: #84C44E; }
.btn_pos:hover{ background: #52812B; color: #fff; }
.btn_neg{ background: #C91537; }
.btn_neg:hover{ background: #B21331; color: #fff; }
.btn_misc{ background: #0076BD; }
.btn_misc:hover{ background: #00598E; color: #fff; }




#easyNotification
{
	padding: 5px 10px;
	position: relative;
}
#easyNotification span
{
	float: right;
	cursor: pointer;
}

.notify-notice
{
	background: #fffed0;
	border: 1px solid #d4d287;
	color: #333;
}
.notify-err
{
	background: #CF3541;
	color: #fff !important;
	border: 1px solid #9B1A15;
}