body{
	font:0.9em Arial, Sans-serif;
	text-align:center;
}

input,textarea,select{
	font:100% Arial, Lucida Grande, Verdana, Sans-serif;
}

div#top{font-size:0.85em;}
div#top-menu{font-size:1.1em;}

div#wrapper{font-size:0.75em;}
div#wrapper ul.normal li{font-size:1.35em;}

div#sidebar{font-size:1.3em;}

div#footer{font-size:0.8em;}