/**
 * Classroombookings layout stylesheet
 */


html,body{margin:0;padding:0;}

body{background:url(../img/template/topgrad.png) top left repeat-x;}


/* Main top layer. Full width */
div#top{
	margin:10px 0 20px 0;
	text-align:center;
}


/* Container in top layer for other sections */
div#top-main{
	width:900px;
	margin:0 auto;
	padding:0;
}

/* Title */
div#top-left{
	width:450px;
	float:left;
}

/* User control */
div#top-right{
	width:450px;
	float:right;
}

/* Menu navigation */
div#top-menu{
	clear:both;
	width:100%;
}


/* Main body container */
div#container{text-align:left;}
div#container p{line-height:1.3;}


div#footer p{
	margin:0;
	padding:5px 0;
}


div#container{
	width:900px;
	margin:0 auto;
}


div#content{
	float:left;
	width:650px;
	margin:0 0 10px 0;
	margin-bottom:50px;
}

div#content.solo{
	width:900px;
}


div#sidebar{
	float:right;
	width:250px;
}


div.extra{
	clear:both;
	width:100%;
}
div.extra div{padding:0.35em;}


div#footer{
	padding:10px 0;
	clear:both;
	width:100%;
	margin:0px 0 0 0;
}