/**
 * Classroombookings UI font/colour stylesheet
 *
 * Colours
 *	Blue (light):	#468ED8
 *	Blue (dark):	#006699
 *  Red (light):	#D86B46
 *  Red (dark):		#991900
 *	Orange:			#FFA500
 *	Green:			#60AA37
 *	Grey text:		#777777
 */

 
body{
	font:0.75em Tahoma, Verdana, Sans-serif;
	text-align:center;
}


input,textarea,select{
	font:100% tahoma,Lucida Grande, Verdana, Sans-serif;
}


img{border:0;}


#header span{
	font-size:80%;
	color:#ccc;
	font-weight:bold;
}




/* Headings */
h1{font-size:200%;font-weight:normal;margin:0 0 10px 0;}
h2{font-size:160%;font-weight:normal;}
h3{font-size:150%;}
h4{font-size:125%;}
h1,h2,h3,h4{color:#60aa37;margin:0 0 0.5em 0;}



fieldset legend{color:#FFA500;font-size:125%;font-weight:bold;margin-left:130px}
/*fieldset{border-width:1px 0 0 0;}*/
fieldset{border:1px solid #ccc;border-width:1px 0 0 0}


.ui-tabs-hide { display: none; }


/* All links */
a{color:#468ed8;text-decoration:none;}
a:hover{text-decoration:underline;}



/* Icon bar */
#main ul.iconbar{
	list-style-type:none;
	list-style-position:outside;
	margin:0;
	padding:6px 3px;
	border:1px dotted #ccc;
	border-width:1px 0;
	background:#fff;	/*#f4f4f4;*/
}
#main ul.iconbar li{
	margin:0;padding:1px;
}
#main ul.iconbar li a{
	background-repeat:no-repeat;
	background-position:0 50%;
	padding:2px 0px 2px 20px;
	display:block;
	border:0px dotted #ccc;
	margin:4px 0;
	font-weight:bold;
}
#main ul.iconbar li a:hover{
	text-decoration:underline;
}
#main ul.iconbar li,
#main ul.iconbar li a{
	display:inline;
}
#main ul.iconbar li.ibl{
	/*background:url(../img/template/sep.gif) top right no-repeat;*/
	border-right:1px solid #ccc;
	padding:0;
	padding-right:15px;
	margin-right:15px;
}




div#qTip{
	padding:5px;
	border:3px solid #B1DE98;	/*#006699;*/
	display:none;
	background:#fff;	/*#B1DE98;	/*#D86B46;*/
	color:#000;
	font-size:90%;
	width:300px;
	text-align:left;
	position:absolute;
	z-index:1000;
}





.boxy-wrapper { position: absolute; }
.boxy-wrapper.fixed { position: fixed; }

/* Modal */

.boxy-modal-blackout { position: absolute; background-color: black; left: 0; top: 0; }

/* Border */

.boxy-wrapper { empty-cells: show; }
.boxy-wrapper .top-left,
.boxy-wrapper .top-right,
.boxy-wrapper .bottom-right,
.boxy-wrapper .bottom-left { width: 10px; height: 10px; padding: 0 }

.boxy-wrapper .top-left { background: url('../img/jquery/boxy/boxy-nw.png'); }
.boxy-wrapper .top-right { background: url('../img/jquery/boxy/boxy-ne.png'); }
.boxy-wrapper .bottom-right { background: url('../img/jquery/boxy/boxy-se.png'); }
.boxy-wrapper .bottom-left { background: url('../img/jquery/boxy/boxy-sw.png'); }

/* IE6+7 hacks for the border. IE7 should support this natively but fails in conjuction with modal blackout bg. */
/* NB: these must be absolute paths or URLs to your images */
.boxy-wrapper .top-left { #background: none; #filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../img/jquery/boxy/boxy-nw.png'); }
.boxy-wrapper .top-right { #background: none; #filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../img/jquery/boxy/boxy-ne.png'); }
.boxy-wrapper .bottom-right { #background: none; #filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../img/jquery/boxy/boxy-se.png'); }
.boxy-wrapper .bottom-left { #background: none; #filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../img/jquery/boxy/boxy-sw.png'); }

.boxy-wrapper .top,
.boxy-wrapper .bottom { height: 10px; background-color: black; opacity: 0.6; filter: alpha(opacity=60); padding: 0 }

.boxy-wrapper .left,
.boxy-wrapper .right { width: 10px; background-color: black; opacity: 0.6; filter: alpha(opacity=60); padding: 0 }

/* Title bar */

.boxy-wrapper .title-bar { background-color: black; padding: 6px; position: relative; }
.boxy-wrapper .title-bar.dragging { cursor: move; }
.boxy-wrapper .title-bar h2 { font-size: 12px; color: white; line-height: 1; margin: 0; padding: 0; font-weight: normal; }
.boxy-wrapper .title-bar .close { color: white; position: absolute; top: 6px; right: 6px; font-size: 90%; line-height: 1; }

/* Content Region */

.boxy-inner { background-color: white; padding: 0 }
.boxy-content { padding:0 0 0 1em; }

/* Question Boxes */

.boxy-wrapper .question { width: 350px; min-height: 80px; }
.boxy-wrapper .answers { text-align: right; }







/* BUTTONS */
.buttons a, .buttons button{
    display:block;
    float:left;
    margin:0 7px 0 0;
    background-color:#f5f5f5;
    border:1px solid #dedede;
    border-top:1px solid #eee;
    border-left:1px solid #eee;
    font-family:"Lucida Grande", Tahoma, Arial, Verdana, sans-serif;
    font-size:100%;
    line-height:130%;
    text-decoration:none;
    font-weight:bold;
    color:#565656;
    cursor:pointer;
    padding:5px 10px 6px 7px; /* Links */
}
.buttons button{
    width:auto;
    overflow:visible;
    padding:4px 10px 3px 7px; /* IE6 */
}
.buttons button[type]{
    padding:5px 10px 5px 7px; /* Firefox */
    line-height:17px; /* Safari */
}
*:first-child+html button[type]{
    padding:4px 10px 3px 7px; /* IE7 */
}
.buttons button img, .buttons a img{
    margin:0 3px -3px 0 !important;
    padding:0;
    border:none;
    width:16px;
    height:16px;
}
/* STANDARD */
button:hover, .buttons a:hover{
    background-color:#dff4ff;
    border:1px solid #c2e1ef;
    color:#336699;
}
.buttons a:active{
    background-color:#6299c5;
    border:1px solid #6299c5;
    color:#fff;
}
/* POSITIVE */
button.positive, .buttons a.positive{
    color:#529214;
}
.buttons a.positive:hover, button.positive:hover{
    background-color:#E6EFC2;
    border:1px solid #C6D880;
    color:#529214;
}
.buttons a.positive:active{
    background-color:#529214;
    border:1px solid #529214;
    color:#fff;
}
/* NEGATIVE */
.buttons a.negative, button.negative{
    color:#d12f19;
}
.buttons a.negative:hover, button.negative:hover{
    background:#fbe3e4;
    border:1px solid #fbc2c4;
    color:#d12f19;
}
.buttons a.negative:active{
    background-color:#d12f19;
    border:1px solid #d12f19;
    color:#fff;
}



.tabberlive .tabbertabhide{
	display:none;
}
.tabber{
	display:none;
}
.tabberlive{
	margin-top:1em;
}

/*--------------------------------------------------
ul.tabbernav = the tab navigation list
li.tabberactive = the active tab
--------------------------------------------------*/
ul.tabbernav{
	margin:0;
	padding: 6px 0;
	border-bottom: 1px solid #468ED8;
	font-weight:normal;
}

ul.tabbernav li{
	list-style: none;
	margin: 0;
	display: inline;
}

ul.tabbernav li a{
	padding: 6px 1em;
	margin-left: 12px;
	border: 0px solid #777;
	border-bottom: none;
	background:#AFCEED;
	text-decoration: none;
	color:#000;
}

/*ul.tabbernav li a:link{ color: #448; }
ul.tabbernav li a:visited{ color: #667; }*/

ul.tabbernav li a:hover{
	/*color: #000;
	border-color: #227;*/
}

ul.tabbernav li.tabberactive a{
	background-color:#468ED8;
	color:#fff;
	border-bottom:1px solid #468ED8;
	font-weight:bold;
}

ul.tabbernav li.tabberactive a:hover{
	/*color: #000;
	background: white;
	border-bottom: 1px solid white;*/
}

/*--------------------------------------------------
.tabbertab = the tab content
Add style only after the tabber interface is set up (.tabberlive)
--------------------------------------------------*/
.tabberlive .tabbertab{
	padding:2em 0 0 0;

/* If you don't want the tab size changing whenever a tab is changed
you can set a fixed height */

/* height:200px; */

/* If you set a fix height set overflow to auto and you will get a
scrollbar when necessary */

/* overflow:auto; */
}

/* If desired, hide the heading since a heading is provided by the tab */
.tabberlive .tabbertab h2{
display:none;
}
.tabberlive .tabbertab h3{
display:none;
}





/**
 * Table type: LIST
 */
table.list{
	border-top:1px solid #ddd;
	/*width:100%;*/
	margin-bottom:16px;
	background:#fff;
}
/* Normal cell */
table.list tr td{
	border-bottom:1px solid #ddd;
	padding:5px;
}
/* Title cell */
table.list tr td.t{
	font-size:110%;
	font-weight:bold;
}
/* Text cell */
table.list tr td.x{
	color:#666;
}
/* Delete cell */
table.list tr td.d{
	width:60px;
	vertical-align:middle;
}
/* Delete link */
table.list tr td.d a{
	background:url(../img/ico/cross_sm.gif) 0px 50% no-repeat;
	padding-left:14px;
}
/* Icon links */
table.list tr td.il{text-align:right;}
table.list tr td.il a{
	background-position:0 50%;
	background-repeat:no-repeat;
	padding-left:16px;
	line-height:16px;
	margin-left:8px;
}
/* Icon in a cell */
table.list tr td.i{
	width:16px;
	vertical-align:middle;
}
/* heading */
table.list tr.heading td{
	font-weight:bold;
	background:#D6DFF7;
}
table.a-t tr td{vertical-align:top;}
table.list tr.disabled td, table.list tr.disabled td a{color:#aaa;font-weight:normal;}



/* Form table */
table.form tr.h td, table.checks tr.h td{background:#eee;color:#000;font-size:120%;font-weight:bold;padding:4px;}
table.form tr td{padding:8px 4px;}
table.form td.title{
	font-weight:bold;
	color:#fff;
}
table.form td.caption{
	width:120px;
	text-align:left;
	color:#666;
	vertical-align:top;
	background:transparent;
	font-weight:bold;
}
table.form td.caption label.r{
	color:#991900;
}
table.form td.field{
	background:transparent;
}
table.form td.field input,
table.form td.field select,
table.form td.field textarea{
	border:1px solid #999;
	padding:2px;
}
table.form td.field select{padding:0;}
table.form td.field span.hint{ clear:both; display:block; color:#000; font-size:90%;}
table.form td.actions{padding-top:16px;vertical-align:middle;}
table.form td.actions input{
	font-weight:bold;
	padding:2px 3px;
}
/* Make subsequent buttons non-bold */
table.form td.actions input+input{font-weight:normal;}
table.form td.actions a{vertical-align:middle;}

/* Tables within field cells */
/*table.form td.field table td{padding:0px;}*/
table.checks tr td{padding:2px;margin:0;vertical-align:middle;}

label.check{
    display: block;
    padding-left:15px;
    text-indent:-15px;
}

label.check input{
	border:0px solid #000 !important;
    width:13px;
    height:13px;
    padding:0;
    margin:4px;
    vertical-align:middle;
    position:relative;
	z-index:2;
    top:-1px;
    *overflow: hidden;
}




p ul{
	margin:0;
	padding:0;
	display:block;
	clear:both;
	text-align:left;
}

p ul li{
	margin:0;
	padding:0;
	display:block;
	text-align:left;
}




div.msg.err ul{
	margin:6px 0;
	padding:0 0 0 1.5em;
	list-style-type:square;
}

div.msg.err ul li{
	margin:3px 0;
}




/* Message box - Base class */
div.msg{
	background-position:5px 50%;
	background-repeat:no-repeat;
	width:400px;
	color:#000;
	padding:5px 5px 5px 26px !important;
	border-style:solid;
	border-width:0;
	border-left-width:8px;
	/*font-size:8pt;*/
	margin-left:0;
	margin:1em 0;
}
/* ERROR */
div.msg.err{
	background-image:url(../img/ico/f_err.gif);
	background-color:#FBE6F2;
	border-color:#D893A1;
}
/* INFORMATION */
div.msg.info{
	background-image:url(../img/ico/f_info.gif);
	background-color:#E6FBF2;
	border-color:#93D8A1;
}
/* EXCLAMATION */
div.msg.warn{
	background-image:url(../img/ico/f_warn.gif);
	background-color:#FBE6F2;
	border-color:#D893A1;
}
/* QUESTION */
div.msg.help{
	background-image:url(../img/ico/f_help.gif);
	/*background-color:#E6FBF2;
	border-color:#93D8A1;*/
	background-color:#fff9d7;
	border-color:#e2c822;
}
div.msg.note{
	background-image:url(../img/ico/f_info.gif);
	background-color:#fff9d7;
	border-color:#e2c822;
}
div.msg.yes{
	background-image:url(../img/ico/f_yes.gif);
	background-color:#FFF3A8;
	border-color:#e2c822;
}
