/**
 * Classroombookings UI font/colour stylesheet
 *
 * Colours
 *	Blue (light):	#468ED8
 *	Blue (dark):	#006699
 *	Orange:			#FFA500
 *	Green (dark):	#60AA37
 *	Green (light):	#C0DDB0
 *	Grey text:		#777777
 */


/*@import "fonts3.css";*/


@import "buttons.css";
/*@import "jcolour.css";
@import "facebox.css";
/*@import "tabs.css";
@import "date_input.css";
@import "timepicker.css";
@import "autocomplete.css";*/


/* proto js stuff */
@import "proto/colorpicker.css";
@import "proto/tabs.css";
@import "proto/calendarview.css";
@import "proto/window.css";



input,textarea,select{
	font:100% Tahoma,Arial, "Lucida Grande", Verdana, Sans-serif;
}

/*h1{font-size:200%;font-weight:bold;margin:0 0 10px 0;}*/
/*h2{font-size:175%;font-weight:normal;}
h3{font-size:150%;}
h4{font-size:125%;}*/
h1,h2,h3,h4{/*color:#60aa37;*/margin:0 0 20px 0;}

.nomargin{margin:0;}

/* Remove margin from forms */
form{margin:0;padding:0;}


/** TOP AREA **/
div#top{background:url('../img/template/dots-h.gif') bottom left repeat-x transparent;}
div#top-left{text-align:left;line-height:65%;}
div#tr span{
	text-transform:lowercase;
	color:#777;
	font-size:100%;
	font-weight:bold;
	margin:0;
	padding:1px;
}
div#top-right{
	font-size:90%;
	text-align:right;
	color:#777;
}
div#tr span{
	margin-left:15px;
}
div#tr a{
	color:#006699;
}
div#top-menu{
	text-align:left;
	padding:15px 0 5px 0;
}


/* Navigation links */
div#top-menu ul{
	margin:0;
	padding:0;
	list-style:none;
}
div#top-menu ul li{
	display:inline;
	margin:0 16px 0 0;
	padding:0;
}
div#top-menu ul li a{
	margin:0;
	padding:2px;
	font-weight:bold;
}
div#top-menu ul li a:hover{
	color:#fff;
	background:#468ed8;
	text-decoration:none;
}


div#sidebar>div{
	margin:0 10px;
}
div#sidebar p{margin:0;}


/* Extra box at the bottom */
div.extra{
	background:#C0DDB0;
	padding:5px;
	
}
div.extra p{
	margin:0;
	padding:5px;
}


/* Footer */
div#footer{background:url('../img/template/dots-h.gif') top left repeat-x #fff;}
div#footer p{
	color:#777;
	font-size:90%;
	line-height:175%;
	padding:0;
}


img{border:0;}


/* All links */
a{color:#468ed8;text-decoration:none;}
a:hover{text-decoration:underline;}




ul.linkbar{
	list-style-type:none;
	margin:3px 0;
	padding:0px 0;
}

ul.linkbar li{
	display:inline;
	margin:0;
	padding:1px;
	font-weight:bold;
}

ul.linkbar li a{
	padding:1px;
	text-decoration:none;
	font-weight:normal;
}
ul.linkbar li a:hover{
	color:#fff;
	background:#468ed8;
	text-decoration:none;
}
ul.linkbar li.ibl{
	/*background:url(../img/template/sep.gif) top right no-repeat;*/
	border-right:1px solid #ccc;
	padding:0;
	padding-right:8px;
	margin-right:8px;
}




/* Icon bar */
ul.iconbar{
	list-style-type:none;
	list-style-position:outside;
	margin:0;
	padding:6px 3px;
	border:1px solid #ddd;
	border-width:0 0 1px 0;
	background:#fff;	/*#f4f4f4;*/
}
ul.iconbar li{
	margin:0;padding:1px;
}
ul.iconbar li a{
	background-repeat:no-repeat;
	background-position:0 50%;
	padding:2px 0px 2px 20px;
	display:block;
	border:0px dotted #ccc;
	margin:4px 0;
	font-weight:bold;
}
ul.iconbar li a:hover{
	text-decoration:underline;
}
ul.iconbar li,
ul.iconbar li a{
	display:inline;
}
ul.iconbar li.ibl{
	/*background:url(../img/template/sep.gif) top right no-repeat;*/
	border-right:1px solid #ccc;
	padding:0;
	padding-right:15px;
	margin-right:15px;
}



dl {margin-top: 8px; background:#fff9d7;padding:0.5em}
dt {font-weight: bold; margin-bottom: 2px;}
dd {margin-bottom: 12px;}

#sidebar dt {color: #55B10A;}
#sidebar dt, #sidebar dd {line-height: 1.4; margin:0;}
#sidebar dd {color: #333; margin:0 0 12px 0;}
#sidebar dd span{background:#fff;}


div#content ul.normal li{line-height:200%}


div#qTip{
	padding:5px;
	border:1px solid #777;	/*#FFA500;	/*#006699;*/
	display:none;
	background:#fff;	/*#B1DE98;	/*#D86B46;*/
	color:#000;
	/*font-size:normal;*/
	width:300px;
	text-align:left;
	position:absolute;
	z-index:1000;
}





/**
 * Table type: LIST
 */
table.list{
	border-top:0px solid #ddd;
	/*width:100%;*/
	margin-bottom:16px;
	background:#fff;
}
/* Normal cell */
table.list tr td{
	border-bottom:1px solid #ddd;
	padding:5px;
}
/* Title cell */
table.list tr td.t{
	font-size:110%;
	font-weight:bold;
}
/* Text cell */
table.list tr td.x{
	color:#666;
}
/* Delete cell */
table.list tr td.d{
	width:60px;
	vertical-align:middle;
}
/* Delete link */
table.list tr td.d a{
	background:url(../img/ico/cross_sm.gif) 0px 50% no-repeat;
	padding-left:14px;
}
/* Icon links */
table.list tr td.il{text-align:right;}
table.list tr td.il a{
	background-position:0 50%;
	background-repeat:no-repeat;
	padding-left:16px;
	line-height:16px;
	margin-left:8px;
}
/* Icon in a cell */
table.list tr td.i{
	width:16px;
	vertical-align:middle;
}
/* heading */
table.list tr.heading td{
	font-weight:bold;
	background:#D6DFF7;
}
table.a-t tr td{vertical-align:top;}
table.list tr.disabled td, table.list tr.disabled td a{color:#aaa;font-weight:normal;}
table.list tr.rc td{background:#efefef}




/* Form table */
table.form tr.h td, table.checks tr.h td{
	/*background:#eee;color:#000;font-size:120%;font-weight:bold;padding:4px;*/
	font-size:135%;color:#60aa37;font-weight:bold;padding:15px 4px 10px 0;
}
table.form>tbody>tr>td{padding:8px 4px;}
table.form>tbody>tr>td.title{
	font-weight:bold;
	color:#fff;
}
table.form td.caption{
	width:160px;
	text-align:right;
	color:#666;
	vertical-align:top;
	/*background:transparent;*/
	font-weight:bold;
}
table.form td.caption label.r{
	color:#000;	/*#991900;*/
}
table.form td.field{
	/*background:transparent;*/
}
table.form td.field input,
table.form td.field select,
table.form td.field textarea{
	border:1px solid #999;
	padding:2px;
}
table.form td.field select{padding:0;}
table.form td.field span.hint{ clear:both; display:block; color:#000; font-size:90%;}
table.form td.actions{padding-top:16px;vertical-align:middle;}
table.form td.actions input{
	font-weight:bold;
	padding:2px 3px;
}
/* Make subsequent buttons non-bold */
table.form td.actions input+input{font-weight:normal;}
table.form td.actions a{vertical-align:middle;}



/* Tables within field cells */
/*table.form td.field table td{padding:0px;}*/
table.checks tr td{padding:2px;margin:0;vertical-align:middle;}

label.check{
    display: block;
    padding-left:15px;
    text-indent:-15px;
}

label.check input{
	border:0px solid #000 !important;
    width:13px;
    height:13px;
    padding:0;
    margin:4px;
    vertical-align:middle;
    position:relative;
	z-index:2;
    top:-1px;
    *overflow: hidden;
}
table.rp tr td.caption{text-align:left;}



table#cc tr td{
	text-align:center;
	padding:1em;
	/*border:1px solid red;*/
}
table.ccmonth{
	margin:0 auto;
	border:1px solid #dfdfdf;
}
table.ccmonth th.heading{
	padding:0.3em;
	background:#dfdfdf;
}
table.ccmonth tr td{
	/*padding:0.5em !important;*/
	padding:0 !important;
	margin:0;
}
table.ccmonth tr td label, table.ccmonth tr td span{
	margin:0em;
	padding:0.5em;
	display:block;
	border:0px solid blue;
}
table.ccmonth tr.wr td{
	padding:0.5em !important;
}






p ul{
	margin:0;
	padding:0;
	display:block;
	clear:both;
	text-align:left;
}

p ul li{
	margin:0;
	padding:0;
	display:block;
	text-align:left;
}




div.msg.err ul{
	margin:6px 0;
	padding:0 0 0 1.5em;
	list-style-type:square;
}

div.msg.err ul li{
	margin:3px 0;
}



div#codeigniter_profiler{text-align:left;font-size:90%}



/* Message box - Base class */
div.msg{
	background-position:5px 50%;
	background-repeat:no-repeat;
	width:400px;
	color:#000;
	padding:5px 5px 5px 26px !important;
	border-style:solid;
	border-width:0px;
	/*border-left-width:8px;*/
	font-size:1.25em;
	margin-left:0;
	margin:1em 0;
}
/* ERROR */
div.msg.err{
	background-image:url(../img/ico/f_err.gif);
	background-color:#FBE6F2;
	border-color:#D893A1;
}
/* INFORMATION */
div.msg.info{
	background-image:url(../img/ico/f_info.gif);
	background-color:#E6FBF2;
	border-color:#93D8A1;
}
/* EXCLAMATION */
div.msg.warn{
	background-image:url(../img/ico/f_warn.gif);
	background-color:#FBE6F2;
	border-color:#D893A1;
}
/* QUESTION */
div.msg.help{
	background-image:url(../img/ico/f_help.gif);
	/*background-color:#E6FBF2;
	border-color:#93D8A1;*/
	background-color:#fff9d7;
	border-color:#e2c822;
}
div.msg.note{
	background-image:url(../img/ico/f_info.gif);
	background-color:#fff9d7;
	border-color:#e2c822;
}
div.msg.yes{
	background-image:url(../img/ico/f_yes.gif);
	background-color:#FFF3A8;
	border-color:#e2c822;
}

.bg-red{background:#FBE6F2;}
.bg-yellow{background:#fff9d7;padding:0.5em}
.bg-info{background:#E6FBF2;}


div#pagination{
	clear:both;
	text-align:center;
}

div#pagination a, div#pagination b{
	display:inline;
	
	padding:4px 8px;
	background:#FFA500;
	color:#fff;
	text-decoration:none;
	font-size:110%;
	font-weight:bold;
	margin:1px 3px;
	border:2px solid #ffa500;
}

div#pagination a:hover{
	color:#FFA500;
	background:#fff;
	border:2px solid #ffa500;
}

div#pagination b{
	background:#60AA37;
	border-color:#60AA37;
}

ul.fail, ul.success{
	line-height:150%;
	font-size:110%;
}

ul.fail li{
	color:#c00;
}

ul.success li{
	color:#4e9a06;
}