/* 
* Skeleton V1.0.2
* Copyright 2011, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 5/20/2011
*/


/* Table of Contents
==========
	
	$RESET
	$BASIC
	$TYPE
	$LINKS
	$LISTS
	$IMG
	$BUTTONS
	$TABS
	$FORMS
	$MISC */


/* $RESET
========== */
	
	html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
		margin: 0;
		padding: 0;
		border: 0;
		font-size: 100%;
		font: inherit;
		vertical-align: baseline; }
	article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
		display: block; }
	body {
		line-height: 1; }
	ol, ul {
		list-style: none; }
	blockquote, q {
		quotes: none; }
	blockquote:before, blockquote:after,
	q:before, q:after {
		content: '';
		content: none; }
	table {
		border-collapse: collapse;
		border-spacing: 0; }




/* $BASIC
========== */
	body { 
		background: #fff;
		font: 14px/21px "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
		color: #333;
	}




/* $TYPE
========== */
	
	h1, .alpha, h2, .beta, h3, .gamma, h4, .delta, h5, .epsilon, h6, .zeta {
		font-weight: bold;
	}
	
	/*--- HEADINGS ---*/
	h1,.alpha{
		font-size:32px;			/* 32px */
		line-height:1.5;		/* 48px */
		margin-bottom: 16px;
		font-weight: normal;
	}
	h2,.beta{
		font-size:24px;		/* 24px */
		line-height:1.5;			/* 24px */
		margin-bottom: 12px;
	}
	h3,.gamma{
		font-size:20px;		/* 20px */
		line-height:1.5;		/* 24px */
		margin-bottom: 10px;
	}
	h4,.delta{
		font-size:18px;		/* 18px */
		line-height:1.2;		/* 24px */
	}
	h5,.epsilon{
		font-weight: bold;
		font-size: 16px;
		line-height: 1.2;
	}
	h6,.zeta{
		font-weight: bold;
		font-size: 14px;			/* 16px */
		line-height: 1.5;		/* 24px */
	}

	p { margin: 0 0 20px; }
	p img { margin: 0; }
	p.lead { font-size: 21px; line-height: 27px; color: #777;  }
	
	em { font-style: italic; }
	strong { font-weight: bold; /* color: #333; */ }
	small { font-size: 80%; }
	
/*	Blockquotes  */
	blockquote, blockquote p { font-size: 17px; line-height: 24px; color: #777; font-style: italic; }
	blockquote { margin: 0 0 20px; padding: 9px 20px 0 19px; border-left: 1px solid #ddd; }
	blockquote cite { display: block; font-size: 12px; color: #555; }
	blockquote cite:before { content: "\2014 \0020"; }
	blockquote cite a, blockquote cite a:visited, blockquote cite a:visited { color: #555; }
	
	hr { border: solid #ddd; border-width: 1px 0 0; clear: both; margin: 10px 0 30px; height: 0; }


/* $LINKS
========== */

	a, a:visited { color: #333; text-decoration: underline; outline: 0; }
	a:hover, a:focus { color: #000; }
	p a, p a:visited { line-height: inherit; }
	

/* $LISTS
========== */

	ul, ol { margin-bottom: 20px; }
	ul { list-style: none outside; }
	ol { list-style: decimal; }
	ol, ul.square, ul.circle, ul.disc { margin-left: 30px; }
	ul.square { list-style: square outside; }
	ul.circle { list-style: circle outside; }
	ul.disc { list-style: disc outside; }
	ul ul, ul ol,
	ol ol, ol ul { margin: 4px 0 5px 30px; font-size: 90%;  }
	ul ul li, ul ol li,
	ol ol li, ol ul li { margin-bottom: 6px; }
	li { line-height: 18px; margin-bottom: 12px; }
	ul.large li { line-height: 21px; }
	li p { line-height: 21px; }
	
/* $IMG
========== */

/*
	The purpose of the below declaration is to make sure images don't 
	exceed the width of columns they are put into when resizing window. 
	Unfortunately, this declaration breaks certain lightbox, slider or other plugins,
	so the best solution is to individually call these properties on images that 
	are children of the grid that you want to resize with grid. 

	img { 
		max-width: 100%;
		height: auto; }
		
*/




/* $BUTTONS
========== */

	.button {
		font-size: 12px;
		padding: 8px 10px;
		display: inline-block;
		background: #333;
		border: none;
		color: #fff !important;
		cursor: pointer;
		font-weight: bold;
		text-decoration: none;
		line-height: 1;
		margin: 0 10px 0 0;
	}
		.button.right { margin: 0 0 0 10px !important; }

		.button:hover {
			text-decoration: none;
			background-color: #2B2B2B;
		}

		.button.grey { background-color: #57585b; }
			.button.grey:hover { background-color: #4A4B4D; }
		.button.blue { background-color: #0070ba; }
			.button.blue:hover { background-color: #005F9E ; }
		.button.red { background-color: #C6181C; }
			.button.red:hover { background-color: #AF1519; }
		.button.green { background-color: #8CA829; }
			.button.green:hover { background-color: #778F23; }

		.button.small { font-size: 12px; padding: 5px 8px; }
		.button.medium { font-size: 13px; padding: 8px 12px; }
		.button.large { font-size: 14px; padding: 8px 12px; }
		
		.button.round { border-radius: 5px; -o-border-radius: 5px; }
		
		.button.empty {
			background: transparent;
			color: inherit;
			text-decoration: inherit;
			padding-left: 0;
			padding-right: 0;
			font-weight: inherit;
			font-size: inherit;
		}
		
		a.button.empty.dark { color: #666 !important; }
		
		a.button.empty { text-decoration: underline; }
		
		.button.wide { padding-left: 35px; padding-right: 35px; }




/* $ALERT
========== */

	.alert {
		display: block;
		padding: 8px;
		padding-left: 32px;
		font-weight: normal;
		font-size: 12px;
		background: #FFDA73;
		margin-bottom: 20px;
		position: relative;
		background-position: 8px 50%;
		background-repeat: no-repeat;
		line-height: 18px;
		color: #fff;
		border: 0;
		font-weight: bold;
	}

	.alert.info { background-image: url(../img/ico/info.png); }
	.alert.error {
		background-color: #C6181C;
		background-image: url(../img/ico/cross.png);
	}
	
	.alert.success {
		background-color: #8CA829;
		background-image: url(../img/ico/tick.png);
	}

	.alert a { color: #333; font-weight: normal; text-decoration: underline; }
	
	.alert ul, .alert li { margin: 0; padding: 0; }
	.alert ul { margin-left: 8px; }
	.alert ul li { line-height: 175%; }



	
/* $LABELS
========== */


.label {
		padding: 1px 5px 2px;
		font-size: 12px;
		font-weight: bold;
		text-align: center;
		text-decoration: none;
		line-height: 1;
		/*font-family: "Segoe UI", "Helvetica Neue", "Helvetica", Arial, Verdana, sans-serif;*/
		white-space: nowrap;
		display: inline;
		position: relative;
		bottom: 1px;
		margin-right: 5px;
		color: #fff;
		background: #00a6fc;
	}
	
	.label.radius {
		-moz-border-radius: 2px;
		-webkit-border-radius: 2px;
		border-radius: 2px;
	}
	
	.label.round {
		padding: 1px 8px 2px;
		-moz-border-radius: 1000px;
		-webkit-border-radius: 1000px;
		border-radius: 1000px;
	}
	
	.label.right { margin-left: 5px; margin-right: 0; }
	
	/* Colors ---------- */
	.blue.label				{ background-color: #00a6fc; }
	.red.label				{ background-color: #e91c21; color: #fff; }
	.green.label			{ background-color: #7fae00; }
	.white.label			{ background-color: #e9e9e9; color: #333; }
	.orange.label			{ background-color: #ff9000; color: #fff; }
	.black.label			{ background-color: #141414; }
	.grey.label				{ background-color: #666; }
	
	.label a, a.label { color: #fff !important; }



/* $TABS
========== */


	dl.htabs {
		height: 33px;
		line-height: 32px;
		border-bottom: 1px solid #ccc;
		padding-left: 12px;
	}
		
		dl.htabs dd a {
			border: 1px solid transparent;
			background: transparent;
			padding: 0 12px;
			font-size: 13px;
			float: left;
			font-weight: bold;
			text-align: center;
			text-decoration: none;
			color: #0070ba;
			margin: 0 5px;
			display: inline;
		}
			
			dl.htabs dd a.active,
			dl.htabs dd a:hover,
			dl.htabs dd a.active:hover {
				background: #fff;
				color: #333;
				border: 1px solid #ccc;
				border-bottom: 1px solid #fff;
			}
	
	ul.htabs-content li {
		margin-bottom: 20px;
		padding-top: 20px;
		z-index: 2;
		overflow: auto;
		display: none;
	}
		
		ul.htabs-content li.active { display: block; }




			
/* $FORMS
========== */

	form { margin-bottom: 20px; }
	fieldset { margin-bottom: 20px; }
	
	input[type="text"], 
	input[type="password"],
	input[type="email"],
	textarea, 
	select,
	.text-input {
		border: 1px solid #ccc;
		padding: 6px;
		outline: none;
		border-radius: 0;
		font-family: "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
		color: #333;
		margin: 0;
		max-width: 100%;
		display: block;
		margin-bottom: 20px;
		background: #fff;
	}
	
	.text-input[disabled=disabled] {
		background: buttonface;
	}
	
	input[type="text"]:focus, 
	input[type="password"]:focus,
	input[type="email"]:focus,
	textarea:focus, 
	select:focus,
	.text-input:focus {
		border: 1px solid #0070ba;
		outline: none;
	}
	
	select { padding: 2px; }
	
	textarea { min-height: 60px; }
	
	label,
	legend { 
		display: block;
		font-weight: bold;
		font-size: 13px;
	}
	
	input[type="checkbox"] { display: inline; }
	
	/* Hints inside of labels */
	label span,
	legend span {
		font-weight: normal;
		font-size: 13px;
		color: #444;
	}
	
	
	/* Labels next to radios/checkboxes */
	label.radio,
	label.check {
		font-weight: normal;
	}
	
	
	.hint {
		margin-bottom: 10px;
	}
	
		.hint h6 {
			font-size: 13px;
			color: #55B10A;
			margin-bottom: 5px;
		}
		
		.hint p {
			color: #666;
			font-size: 12px;
			line-height: 1.5;
		}
		
			.hint p span {
				background: #ffa;
				padding: 0 2px;
			}
	
	.section-extra h6 {
		font-size: 13px;
		color: #0070ba;
		margin-bottom: 5px;
	}
	.section-extra p {
		color: #666;
		font-size: 12px;
		line-height: 1.5;
	}
	
	
	/* Fieldset with class .form */
	
	.form .row.section {
		border-bottom: 1px solid #ddd;
		margin-bottom: 15px;
	}
	
	.form .row.submit {
		margin-bottom: 15px;
	}
	
	.form .inputs {
		margin-bottom: 10px;
	}




/* $NAV
========== */

	/* Horizontal unordered list */
	.nav {
		margin: 0;
		border: 0;
		padding: 0;
		display: block;
	}
	
	.nav li {
		display: block;
		width: auto;
		padding: 0;
		float: left;
		margin: 0 10px 0 0;
	}
	
	.nav li a {
		display: block; 
		text-decoration: none;
		width: auto; 
		border: 0;
		margin: 0;
	}


/* $TABLES
========== */

	/* Filter */
	
	.filter-wrapper {
		background: #F2F2F2;
		padding: 5px;
		border: 1px solid #ccc;
	}
	
		.filter {
			width: 100%;
			border-collapse: collapse;
			border: 0;
		}
			
			.filter td {
				padding: 4px;
				vertical-align: middle;
			}
			
			.filter td .text-input {
				margin-bottom: 0;
			}
			
			.filter td input.text-input {
				width: auto;
			}




	/* List */
	

	.list {
		background: #fff;
		border-collapse: collapse;
		text-align: left;
		width: 100%;
		margin-bottom: 20px;
	}
	.list th {
		font-size: 100%;
		font-weight: bold;
		color: #333;
		padding: 8px;
		border-bottom: 2px solid #666;
		text-align: left;
	}
	.list td {
		border-bottom: 1px solid #ccc;
		color: #333;
		padding: 8px;
		font-size: 90%;
	}
	table.list td.title { font-weight: bold; }
	table.list td.title a { font-size: 100%; color: #0070ba; text-decoration: underline; }
	table.list td.title span { font-weight: normal; font-size: 85%; margin-left: 5px; }
	table.list td a { text-decoration: none; }
	table.list tbody tr:hover td {
		
	}

	table.list.middle td { vertical-align: middle; line-height: 100%; }


	td.one.icon { width: 20px; text-align: center; vertical-align: middle; }



	span.digit { font-size: 110%; font-weight: bold; }
	span.digit.green { color: darkgreen; }
	span.digit.red { color: darkred; }


	td.status {
		background-position: 100% 50%;
		background-repeat: no-repeat;
	}
	td.status.online { background-image: url(../img/ico/online.png); }
	td.status.disabled { background-image: url(../img/ico/user-disabled.png); }
		
/* $MISC
========== */

	.remove-bottom { margin-bottom: 0 !important; }
	.half-bottom { margin-bottom: 10px !important; }
	.add-bottom { margin-bottom: 20px !important; }
	.big-bottom { margin-bottom: 40px !important; }
	
	.float-left { float: left; }
	.float-right { float: right; }
	
	.text-left { text-align: left !important; }
	.text-right { text-align: right !important; }
	
	.hidden { display: none; }