#calrange, .active, #calroot {
	-moz-border-radius: 4px;		
}

#calrange {	
	background: #E0E4ED;
	/* height: 56px; */
	padding: 10px;
	color: #ddd;
	font-size: 11px;
	width: 300px;
	/* width: 520px; */

}

#calrange label {
	float: left;
	width: 215px;
	display: block;
	padding: 6px;
	border: 1px solid transparent;
	margin-right: 30px;	
	color: #000;
}

#calrange .active {
	background-color: #fff;
	color: #333;
	border: 1px solid #ccc;
	border-bottom: 0;
}

.active input {
	color: #333;
	text-shadow: none;
}

/* date input */
.date {		
	float: left;
	display: block;
	border: 0;
	background-color: transparent;
	font-size: 18px;
	color: #fff;
	width: 120px;
	cursor: pointer;
}

/* date input trigger element */
.caltrigger {
	display: block;
	width: 30px;
	height: 32px;
	float: left;
	background: url(../img/ico/calendar.png) no-repeat 50% 50%;
	margin-top: -8px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
}

.active .caltrigger {
	background-position: 0 -32px;		
}










/* For the details, see: http://flowplayer.org/tools/dateinput/index.html#skinning */

/* calendar root element */
#calroot {
	/* place on top of other elements. set a higher value if nessessary */
	z-index:1;
	
	font-family:sans-serif;
	background-color:#fff;
	border:1px solid #ccc;
	border-width:0 1px 1px;
	padding-top:10px;
	height:160px;
	width:227px;	
	display:none;
	margin:0 0 0 -7px;
	
	-moz-border-radius-topleft:0;
	-moz-border-radius-topright:0;	
	-webkit-border-top-left-radius:0;
	-webkit-border-top-right-radius:0;		
}

/* head. contains title, prev/next month controls and possible month/year selectors */
#calhead {	
	padding:2px 0;
	height:22px;
} 

#caltitle {
	font-size:14px;
	color:#0150D1;	
	float:left;
	text-align:center;
	width:160px;
	line-height:20px;
	text-shadow:0 1px 0 #ddd;
}

#calnext, #calprev {
	display:block;
	width:20px;
	height:20px;
	background:transparent url(prev.gif) no-repeat scroll center center;
	float:left;
	cursor:pointer;
	margin-left:9px;
}

#calnext {
	background-image:url(next.gif);
	float:right;
	margin-right:9px;
}

#calprev.caldisabled, #calnext.caldisabled {
	visibility:hidden;	
}

/* year/month selector */
#caltitle select {
	font-size:10px;	
}

/* names of the days */
#caldays {
	height:14px;
	border-bottom:1px solid #ddd;
}

#caldays span {
	display:block;
	float:left;
	width:32px;
	text-align:center;
	font-size:11px;
}

/* container for weeks */
#calweeks {
	background-color:#fff;
	margin-top:4px;
}

/* single week */
.calweek {
	clear:left;
	height:22px;
}

/* single day */
.calweek a {
	display:block;
	float:left;
	width:31px;
	height:20px;
	text-decoration:none;
	font-size:11px;
	margin-left:1px;
	text-align:center;
	line-height:20px;
	color:#666;
	-moz-border-radius:3px;
	-webkit-border-radius:3px; 		
} 

/* different states */
.calweek a:hover, .calfocus {
	background-color:#ddd;
}

/* sunday */
a.calsun {
	color:red;		
}

/* offmonth day */
a.caloff {
	color:#ccc;		
}

a.caloff:hover {
	background-color:rgb(245, 245, 250);		
}


/* unselecteble day */
a.caldisabled {
	background-color:#efefef !important;
	color:#ccc	!important;
	cursor:default;
}


/* current date */
#calcurrent {
	background-color:#498CE2;
	color:#fff;
}

/* today */
#caltoday {
	background-color:#999;
	color:#fff;
}
