/**
 * Classroombookings
 *
 * crbs.css: styles for various aspects of the layout and per-page CSS.
 */


	.sub-heading {
		color: #ff6400;
		font-weight: normal;
		margin-bottom: 15px;
		line-height: 1;
	}
		
	p { margin: 0 0 20px; }
	
	a { color: #0070ba; text-decoration: none; }
	a:hover { color: #55B10A; }
	
	hr {
		height: 1px;
		background: #aaa;
		border: 0;
		margin: 20px 0;
	}
	




/* $HEADER
========== */

	.header {
		padding: 5px;
		background: #000;
		color: #fff;
	}
		
		.header .header-left,
		.header .header-right { line-height: 32px; }
		
		.header .header-right { text-align: right; }
		
		.header .nav li a {
			color: #fff;
			text-decoration: none;
			margin: 0;
			padding: 0;
			font-size: 12px;
			line-height: 1;
		}
		
		.header .header-left .nav li a { margin-right: 20px; }
		.header .header-right .nav li a { margin-left: 20px; }
		
		.header .nav li a:hover,
		.header .nav li a.active { color: #ff6400; }
		
		.header .nav .logo a,
		.header .nav .logo a:hover { border: 0; }
		
		.header .nav .logo a img { vertical-align: middle; }




/* $SUB
========== */

	.wrapper.sub {
		background: no-repeat #1A5277;
		color: #fff;
	}

	
		.breadcrumb {
			margin: 15px 0;
			font-size: 18px; font-size: 1.8rem;
			line-height: 1;
		}
			
			.breadcrumb .separator {
				margin: 0 15px;
				font-weight: bold;
				font-size: 20px; font-size: 2rem;
				line-height: 0;
				float: none;
			}
			
			.breadcrumb a {
				text-decoration: none;
				color: #fff;
			}			
			
			.breadcrumb a:hover {
				text-decoration: none;
				color: #ccc;
			}
		
		.sub .nav {
			margin-top: 20px;
		}
		
		.sub .nav a,
		.sub .nav span {
			background: #547E99;
			padding: 8px 12px;
			display: inline-block;
			margin: 0 10px 0 0;
			color: #fff;
			text-decoration: none;
		}
		
		.sub .nav .current span,
		.sub .nav a:hover {
			background: #fff;
			color: #000;
		}

	.flash-container {
		padding-top: 15px;
	}



/* $BODY
========== */

	.wrapper.body {
		margin-top: 20px;
	}




/* $FOOTER
========== */
	
	.footer {
		margin-top: 40px;
		border-top: 1px solid #aaa;
		padding: 20px 0;
		line-height: normal;
		color: #666;
	}
	
	.footer p {
		padding: 0;
		margin: 0;
		font-size: 12px;
		line-height: 2;
	}






/* Icon items
========== */

.i {
	background-repeat: no-repeat;
	background-position: 8px 50%;
	padding-left: 32px;
	line-height: 16px;
}

	.i.dashboard { background-image: url(../img/ico/home.png); }
	.i.bookings { background-image: url(../img/ico/bookings.png); }
	.i.configure { background-image: url(../img/ico/configure.png); }
	.i.reports { background-image: url(../img/ico/reports.png); }
	.i.event-log { background-image: url(../img/ico/event-log.png); }
	.i.account { background-image: url(../img/ico/person.png); }
	.i.security { background-image: url(../img/ico/key.png); }

	.i.add { background-image: url(../img/ico/add.png); }

	.i.assign { background-image: url(../img/ico/assign.png); }

	.i.upload { background-image: url(../img/ico/upload.png); }

	.i.tick { background-image: url(../img/ico/tick.png); }
	.i.disk { background-image: url(../img/ico/disk.png); }
	.i.find { background-image: url(../img/ico/find.png); }

	.i.configure-settings{ background-image: url(../img/ico/settings.png); }
	.i.configure-authentication{ background-image: url(../img/ico/auth.png); }
	.i.configure-users{ background-image: url(../img/ico/users.png); }
	.i.configure-groups{ background-image: url(../img/ico/groups.png); }
	.i.configure-permissions{ background-image: url(../img/ico/permissions.png); }
	.i.configure-quota{ background-image: url(../img/ico/quota.png); }
	.i.configure-departments{ background-image: url(../img/ico/departments.png); }
	.i.configure-rooms{ background-image: url(../img/ico/rooms.png); }
	.i.configure-years{ background-image: url(../img/ico/years.png); }
	.i.configure-terms{ background-image: url(../img/ico/term-dates.png); }
	.i.configure-weeks{ background-image: url(../img/ico/timetable-weeks.png); }
	.i.configure-holidays{ background-image: url(../img/ico/holidays6.png); }
	.i.configure-periods{ background-image: url(../img/ico/periods.png); }
	.i.configure-style{ background-image: url(../img/ico/colour.png); }
	.i.configure-email{ background-image: url(../img/ico/email.png); }





.configure-menu h4 {
	margin-bottom: 15px;
}

.configure-menu ul {
	margin: 0;
	padding: 0;
}
.configure-menu ul li {
	margin-bottom: 10px;
	list-style: none;
	padding: 0;
	margin: 0;
}

.configure-menu ul li a {
	padding: 0 0 0 24px;
	background-position: 0 50%;
	color: #000;
	font-size: 13px;
	font-weight: bold;
	display: block;
	margin-bottom: 3px;
}
	.configure-menu ul li a:hover { color: #55B10A; }
	.configure-menu ul li p {
		font-size: 11px;
		padding-left: 24px;
		line-height: 1.5;
	}




.ldap-groups {
	font-size: 12px;
}
	.ldap-groups li {
		margin-bottom: 6px;
		cursor: help;
	}





/* $EVENTLOG
========== */


	/* definition list */

	.event-info {
		display: block;
		margin: 0;
		padding: 0;
	}
		.event-info dt {
			color: #666;
			margin: 0 0 5px 0;
			padding: 0;
		}
		
		.event-info dd {
			margin: 0;
			padding: 0;
			color: #000;
			font-weight: bold;
			margin-bottom: 20px;
			line-height: 1.4;
		}
		
		.event-info pre code {
			font-weight: normal;
			color: #000;
		}



/* Misc
========== */

	.list .user-disabled td,
	.list .user-disabled .title a { color: #999 !important; }

	.no-results {
		background: #F2F2F2;
		border: 1px solid #ccc;
		padding: 10px;
		text-align: center;
		font-size: 12px;
	}
	
	