/**
 * Classroombookings
 *
 * crbs.css: styles for various aspects of the layout, global styles and per-page CSS.
 */

body {
	margin: 0;
	padding: 0;
	border: 0;			/* This removes the border around the viewport in old versions of IE */
	width: 100%;
	background: #fff;
}

html { overflow-y: scroll; }

div hr { height: 1px; }

.sub-heading { color: #ff6400; font-weight: normal; margin-bottom: 15px; line-height: 1; }




/* Header bar
========== */

	.header {
		clear: both;
		float: left;
		width: 100%;
		padding: 10px 0 8px 0;
		background: #333;
		margin-bottom: 20px;
	}
		.header .header-left {
			
		}
			.header .header-left .nav li a {
				margin-right: 20px;
			}
		
		.header .header-right {
			text-align: right;
		}
			.header .header-right .nav {
				float: right;
			}
			.header .header-right .nav li a {
				margin-right: 0;
				margin-left: 20px;
			}
		
		.header .name {
			font-weight: bold;
			margin-right: 40px;
		}
		
		.header .nav li a {
			color: #fff;
			text-decoration: none;
			margin: 0 20px 0 0;
			padding: 0;
			font-size: 12px;
			border-bottom: 1px solid transparent;
		}
		
		.header .nav li a:hover,
		.header .nav li a.active { border-bottom: 1px solid #fff; }
		
		.header .nav .logo a,
		.header .nav .logo a:hover {
			border: 0;
		}
		
		.header-right .nav li { margin: 0 0 0 10px; }
		.header-right .nav li a {
			float: right;
		}




/* Content with sidebar (from http://matthewjamestaylor.com/blog/ultimate-2-column-left-menu-pixels.htm)
========== */

	/* column container */
	.colmask {
		position: relative;		/* This fixes the IE7 overflow hidden bug and stops the layout jumping out of place */
		clear: both;
		float: left;
		width: 100%;		/* width of whole page */
		overflow: hidden;		/* This chops off any overhanging divs */
	}
	
	/* 2 column left menu settings */
	.leftmenu {
		background: #F2F2F2;
	}
	
		.leftmenu .colright {
			float: left;
			width: 200%;
			position: relative;
			left: 250px;
			background: #fff;
			border-left: 0px solid #ccc;
		}
		
		.leftmenu .col1wrap {
			float: right;
			width: 50%;
			position: relative;
			right: 250px;
			padding-bottom: 1em;
		}
		
		.leftmenu .col1 {
			margin: 0 15px 0 265px;	/* 215px */
			position: relative;
			right: 100%;
			overflow: hidden;
			padding-top: 15px;
			padding-bottom: 20px;
		}
		
		.leftmenu .col2 {
			float: left;
			width: 220px;
			position: relative;
			right: 235px;
			padding-top: 15px;
			padding-bottom: 15px;
		}
		
	.col1 .container {
		margin: 0;
	}


/* Footer
========== */
	
	.footer {
		margin-top: 30px;
		border-top: 1px dotted #ccc;
		color: #666;
		padding-top: 10px;
		padding-bottom: 15px;
	}
	
	.footer p {
		padding: 0;
		margin: 0;
		font-size: 12px;
		line-height: 2;
	}
	
	.footer a { color: #333; }




.row.subnav {
	margin-bottom: 40px;
	border-bottom: 1px dotted #ccc;
	padding-bottom: 10px;
}

	.breadcrumb {
		font-size: 18px;
	}
		
		.breadcrumb a {
			text-decoration: none;
			color: #0070ba;
		}
			.breadcrumb a:hover {
				background: #0070ba;
				color: #fff;
			}
		
		.breadcrumb .separator {
			margin: 0 10px;
			font-weight: bold;
			font-size: 20px;
		}

	.nav-items {
		text-align: right;
	}
		.nav-items ul {
			margin: 0;
			padding: 0;
		}
		.nav-items ul li {
			margin: 0;
			padding: 0;
			font-size: 13px;
			display: inline;
			margin-left: 10px;
			border-left: 1px solid #333;
			padding-left: 10px;
			line-height: 1;
		}
		.nav-items ul li:first-child {
			border: 0;
			margin-left: 0;
			padding-left: 0;
		} 
		.nav-items ul li a {
			color: #0070ba;
			text-decoration: none;
		}
		.nav-items ul li a:hover {
			color: #fff;
			background: #0070ba;
		}


/* Icon items
========== */

.i {
	background-repeat: no-repeat;
	background-position: 8px 50%;
	padding-left: 32px;
	line-height: 16px;
}

	.i.dashboard { background-image: url(../img/ico/home.png); }
	.i.bookings { background-image: url(../img/ico/bookings.png); }
	.i.configure { background-image: url(../img/ico/configure.png); }
	.i.reports { background-image: url(../img/ico/reports.png); }
	.i.event-log { background-image: url(../img/ico/event-log.png); }
	.i.account { background-image: url(../img/ico/person.png); }
	.i.security { background-image: url(../img/ico/key.png); }

	.i.add { background-image: url(../img/ico/add.png); }

	.i.assign { background-image: url(../img/ico/assign.png); }

	.i.upload { background-image: url(../img/ico/upload.png); }

	.i.tick { background-image: url(../img/ico/tick.png); }
	.i.disk { background-image: url(../img/ico/disk.png); }

	.i.configure-settings{ background-image: url(../img/ico/settings.png); }
	.i.configure-authentication{ background-image: url(../img/ico/auth.png); }
	.i.configure-users{ background-image: url(../img/ico/users.png); }
	.i.configure-groups{ background-image: url(../img/ico/groups.png); }
	.i.configure-permissions{ background-image: url(../img/ico/permissions.png); }
	.i.configure-quota{ background-image: url(../img/ico/quota.png); }
	.i.configure-departments{ background-image: url(../img/ico/departments.png); }
	.i.configure-rooms{ background-image: url(../img/ico/rooms.png); }
	.i.configure-years{ background-image: url(../img/ico/years.png); }
	.i.configure-terms{ background-image: url(../img/ico/term-dates.png); }
	.i.configure-weeks{ background-image: url(../img/ico/timetable-weeks.png); }
	.i.configure-holidays{ background-image: url(../img/ico/holidays6.png); }
	.i.configure-periods{ background-image: url(../img/ico/periods.png); }
	.i.configure-style{ background-image: url(../img/ico/colour.png); }





/* Sidebar menu 
========== */

.menu.secondary li {
    margin: 0;
    padding: 0;
}

	.menu.secondary li a {
		display: block;
		width: auto;
		margin: 0;
		border: 0;
		color: #333;
		padding: 8px 8px 8px 25px;
		margin-bottom: 4px;
		text-decoration: none;
		font-size: 12px;
	}
		
		.menu.secondary li a:hover,
		.menu.secondary li a.active {
			background-color: #fff;
			color: #333;
			border: 0px solid #ccc;
		}




.configure-menu h4 {
	margin-bottom: 15px;
}
.configure-menu ul li {
	margin-bottom: 10px;
}

.configure-menu ul li a {
	padding: 0 0 0 24px;
	background-position: 0 50%;
	color: #333;
	font-size: 13px;
	font-weight: bold;
	display: block;
	margin-bottom: 3px;
}
	.configure-menu ul li p {
		font-size: 11px;
		padding-left: 24px;
		line-height: 1.5;
	}




.ldap-groups {
	font-size: 12px;
}
	.ldap-groups li {
		margin-bottom: 6px;
		cursor: help;
	}



/* Misc
========== */

	.list .user-disabled td,
	.list .user-disabled .title a { color: #999 !important; }

	.no-results {
		background: #F2F2F2;
		border: 1px solid #ccc;
		padding: 10px;
		text-align: center;
		font-size: 12px;
	}